<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Freelancer Portfolio {% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'services' %}">Services</a>|
            <a href="{% url 'testimonials' %}">Testimonials</a>|
            <a href="{% url 'pricing' %}">Pricing</a>|
            <a href="{% url 'case_studies' %}">Case Studies</a>|
            <a href="{% url 'blog' %}">Blog</a>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Freelancer Portfolio</p>
    </footer>
    
</body>
</html>